<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Finder</title>
    <link type="text/css" rel="stylesheet" href="/styles/normalize.min.css">
    <link type="text/css" rel="stylesheet" href="/styles/style.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body id="app">
<!--<main id="vueApp">-->
    <!--<section class="movieDatabase">-->
        <!--<header>-->
            <!--<h1>Movie Finder</h1>-->
        <!--</header>-->
        <!--<article class="searchTitle">-->
            <!--<label for="title" >Title</label>-->
            <!--<input value="harry potter" id="title" type="text" placeholder="Type movie title" v-model="searchMovie.title">-->
            <!--<label for="year" >Year</label>-->
            <!--<input id="year" type="text" placeholder="Type movie release date" v-model="searchMovie.year">-->
            <!--<label for="type">Type</label>-->
            <!--<select id="type" v-model="searchMovie.type">-->
                <!--<option value="movie" selected>movie</option>-->
                <!--<option value="series">series</option>-->
                <!--<option value="episode">episode</option>-->
                <!--<option value="game">game</option>-->
            <!--</select>-->
            <!--<button v-on:click.prevent="submitTitle">Search</button>-->
        <!--</article>-->
        <!--<article class="results">-->
            <!--<div class="changeOrder">-->
                <!--<div>Order by:</div>-->
                <!--<div>-->
                    <!--<button v-on:click.prevent="changeOrder('year')">Year <i v-show="orderOptions.showYear" v-bind:class="{'rotate': orderOptions.arrowDirection}" class="fa fa-angle-down" aria-hidden="true"></i></button>-->
                    <!--<button v-on:click.prevent="changeOrder('title')">Title <i v-show="orderOptions.showTitle" v-bind:class="{'rotate': orderOptions.arrowDirection}" class="fa fa-angle-down" aria-hidden="true"></i></button>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div v-for="movies in moviesFound | orderBy orderOptions.orderBy orderOptions.orderReverse" class="result">-->
                <!--<div class="moviePoster">-->
                    <!--<div v-if="movies.unknownPoster">Unknown poster</div>-->
                    <!--<img v-else v-bind:src="movies.poster" alt="movie poster"></div>-->
                <!--<div class="movieInfo">-->
                    <!--<div class="title"><span>Title:</span> {{movies.title}} ({{movies.year}})</div>-->
                    <!--<div class="type"><span>Type:</span> {{movies.type}}</div>-->
                    <!--<div class="button"><button v-on:click.prevent="showDetails($event)" id="{{movies.id}}">Show details</button></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</article>-->
        <!--<article class="movieSelected">-->
            <!--<div class="selected" v-if="movieSelect">-->
                <!--<div class="moviePoster">-->
                    <!--<div v-if="movie.unknownPoster">Unknown poster</div>-->
                    <!--<img v-else v-bind:src="movie.poster" alt="movie poster">-->
                <!--</div>-->
                <!--<div class="movieInfo">-->
                    <!--<div><span>Title:</span> {{movie.title}}</div>-->
                    <!--<div><span>Plot:</span> {{movie.plot}}</div>-->
                    <!--<div><span>Actors:</span> {{movie.actors}}</div>-->
                    <!--<div><span>Writer:</span> {{movie.writer}}</div>-->
                    <!--<div><span>Awards:</span> {{movie.awards}}</div>-->
                    <!--<div><span>Country:</span> {{movie.country}}</div>-->
                    <!--<div><span>Director:</span> {{movie.director}}</div>-->
                    <!--<div><span>Genre:</span> {{movie.genre}}</div>-->
                    <!--<div><span>Language:</span> {{movie.language}}</div>-->
                    <!--<div><span>Metascore:</span> {{movie.metascore}}</div>-->
                    <!--<div><span>Rated:</span> {{movie.rated}}</div>-->
                    <!--<div><span>Released:</span> {{movie.released}}</div>-->
                    <!--<div><span>Runtime:</span> {{movie.runtime}}</div>-->
                    <!--<div><span>IMDB Rating:</span> {{movie.imdbRating}}</div>-->
                    <!--<div><span>IMDB Votes:</span> {{movie.imdbVotes}}</div>-->
                    <!--<div><span>Type:</span> {{movie.type}}</div>-->
                <!--</div>-->
                <!--<input v-on:click.prevent="saveMovie" type="button" value="Save movie">-->
            <!--</div>-->
        <!--</article>-->
        <!--<article class="savedMovie">-->
            <!--<div v-for="saveMovies in savedMovies">-->
                <!--<div>{{saveMovies.title}}</div>-->
            <!--</div>-->
        <!--</article>-->
    <!--</section>-->
<!--</main>-->

<header>
    <h1>Movie Finder</h1>
</header>
<menu-component></menu-component>
<main>

    <router-view></router-view>
    <!--<section class="movieDatabase">-->
        <!--<header>-->
            <!--<h1>Movie Finder</h1>-->
        <!--</header>-->
        <!--<article class="searchTitle">-->
            <!--<search-component></search-component>-->
        <!--</article>-->
        <!--<article class="results">-->
            <!--<result-component></result-component>-->
        <!--</article>-->
        <!--<article class="movieSelected">-->
            <!--<detail-component></detail-component>-->
        <!--</article>-->
    <!--</section>-->
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.27/vue.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/0.7.10/vue-router.js"></script>
<script type="text/javascript" src="scripts/vue/app.js"></script>
</body>
</html>